<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<!-- 	<servers> -->
<!-- 		<server> -->
<!-- 			<id>nexus</id> -->
<!-- 			<username>deployment</username> -->
<!-- 			<password>deployment@nexus</password> -->
<!-- 		</server> -->
<!-- 		<server> -->
<!-- 			<id>central</id> -->
<!-- 			<username>deployment</username> -->
<!-- 			<password>deployment@nexus</password> -->
<!-- 		</server> -->
<!-- 	</servers> -->

	<mirrors>
<!-- 		<mirror> -->
<!-- 			<id>central</id> -->
<!-- 			<mirrorOf>*</mirrorOf> -->
<!-- 			<name>Repositorio maven Bradesco TI Hibrida</name> -->
<!-- 			<url>https://nexusrepository.bradesco.com.br:8443/repository/bia-maven-central</url> -->
<!-- 		</mirror> -->
		<mirror>
			<id>central</id>
			<mirrorOf>*</mirrorOf>
			<name>Repositorio maven Scopus</name>
			<url>http://172.16.19.102:8084/nexus/content/groups/public/</url>
		</mirror>
	</mirrors>

</settings>
